{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log out{% endblock %}


{% block content %}

    <div class="container p-5 mt-5">
        
        <div class="w-responsive mx-auto p-5 rounded-lg border border-primary" style="background-color: #fbfcfd;">
            <!--logout Out--> 

            <h1>Sign Out</h1>

            <p>Are you sure you want to sign out?</p>

            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-danger" type="submit">Sign Out</button>
            </form>
        </div>
    </div>

{% endblock content %}
